/* Fullscreen map styling */
#map {
    height: 100vh;
    width: 100%;
}

/* Counter Styling */
#counter {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'Apple System', BlinkMacSystemFont, sans-serif;
    font-size: 2rem;
    color: white;
}

/* Flip animation */
.digit-container {
    display: inline-block;
    perspective: 1000px;
    margin-right: 3px;
}

.digit {
    display: block;
    transform-style: preserve-3d;
    transform: rotateX(0deg);
    transition: transform 0.5s ease;
}

.digit.flip {
    transform: rotateX(90deg);
}
